<h1>検索条件(全体検索)</h1>
<% require 'date'%>
<%= link_to "ホーム画面に戻る", "/healths" %>|<%= link_to "本日分の送信を行う", "/healths/new" %>
<br>
<% # 検索フォームの作成 %>
<%= search_form_for @q,url: "/healths/show", local: true do |f| %>
<table>
        <tr>
            <td><%= f.label :year_eq, "学年" %></td><td><%= f.select :year_eq, [["1年","1年"], ["2年","2年"], ["3年","3年"]], include_blank:"選択してください。" %></td>
        </tr>
        <tr>
            <td><%= f.label :school_class_eq, "組" %></td><td><%= f.select :school_class_eq, [["A組","A組"], ["B組","B組"], ["C組","C組"],["D組","D組"], ["E組","E組"], ["F組","F組"],["G組","G組"], ["H組","H組"], ["I組",9]],{include_blank: '選択してください'} %></td>
        </tr>
        <tr>
            <td><%= f.label :created_at_cont, "日付" %></td><td><%= f.text_field :created_at_cont, {include_blank: '入力して下さい'} %></td>
        </tr>
</table>
<%= f.radio_button :commute_eq, "登校" %><%= f.label :commute_eq, "登校", value: "登校"%>
<%= f.radio_button :commute_eq, "遅刻" %><%= f.label :commute_eq, "遅刻", value: "遅刻"%>
<%= f.radio_button :commute_eq, "欠席" %><%= f.label :commute_eq, "欠席", value: "欠席"%>
<br>
<%= f.submit "検索" %>
<% end %>
<hr>
<br>
<h2>検索結果</h2>
<table>
    <tr>
        <th><%= sort_link(@q, :year, "学年") %></th>
        <th><%= sort_link(@q, :school_class, "組") %></th>
        <th><%= sort_link(@q, :class_number, "出席番号",default_order: :asc) %></th>
        <th><%= sort_link(@q, :name, "名前") %></th>
        <th><%= sort_link(@q, :created_at, "送信日時") %></th>
        <th><%= sort_link(@q, :commute, "出席") %></th>
        <th><%= sort_link(@q, :temperature, "体温") %></th>
        <th><%= sort_link(@q, :etc, "その他") %></th>
    </tr>
    <% if @results.present? %>
    <% @results.each do |result| %>
    <tr>
        <td><%= result.year%></td>
        <td><%= result.school_class%></td>
        <td><%= result.class_number%></td>
        <td><%= result.name%></td>
        <td><%= result.created_at.strftime("%Y-%m-%d %H:%M")%></td>
        <td><%= result.commute%></td>
        <td><%= result.temperature%></td>
        <td><%= result.etc%></td>
    </tr>
    <% end %>
</table>
<% else %>
    <table>
        <tr>
            <td>検索結果はありません</td>
        </tr>
    </table>
<% end %>